<!DOCTYPE html>
<html lang="de">
{{head}}
<body>
<header>
    <h1>{{header}}</h1>
</header>
<div class="plans">
    <!-- Loop over all meal plans -->
    {% for plan in plans %}
    <div class="meal-plan">
        <h2>{{plan_name}}</h2>
        <p><strong>School:</strong> {{school_name}}</p>
        <p><strong>Week of delivery:</strong> {{week_of_delivery}}</p>

        <h3>Meals:</h3>
        <ul class="meals">

            <!-- Nested loop for meals -->
            {% subFor meal in plan_meals %}
            <li class="meal">
                <h2>{{name}}</h2>
                <p><strong>Ingredients:</strong> {{allergens}}</p>
                <p><strong>Calories:</strong> {{nutritionalInfo}}</p>
                <p><strong>Price:</strong> {{price}}</p>
            </li>
            {% endSubFor %}
        </ul>

        <!-- QR Code -->
        <img alt="QR Code for Meal Plan" src="{{qr_code}}">
    </div>
    {% endfor %}
</div>
</body>
</html>